html.light {
  background-color: #c7c7c7;
  color: #333;
}

html.dark {
  background-color: #333;
  color: #c7c7c7;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #0070f3;
  color: white;
}

header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

header button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}