@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


html, body {
  font-family: 'Inter', sans-serif;
  color: #121212; /* Text Secondary */
  background-color: #ffffff; /* Background color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #121212; /* Text Primary */
}

button {
  font-family: 'Inter', sans-serif;
  border: 2px solid #005a70;
  background-color: #ffffff;
  color: #005a70;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

a:hover,
button:active {
  color: #005a70;
}

button:hover,
button:active {
  background-color: #005a70;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #005a70; /* Text Primary */
}

.card{
  @apply p-10 max-w-xs w-full border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA];
}